# Useful Python Function 

source: [30 seconds of Python](https://github.com/30-seconds/30-seconds-of-python)

### all_equal

Checks if all elements in a list are equal.

Use `[1:]` and `[:-1]` to compare all the values in the given list.

In [1]:
def all_equal(lst):
  return lst[1:] == lst[:-1]

In [2]:
all_equal([1, 2, 3, 4, 5, 6]) # False

False

In [3]:
all_equal([1, 1, 1, 1]) # True

True

### all_unique

Returns `True` if all the values in a list are unique, `False` otherwise.

Use `set()` on the given list to remove duplicates, use `len()` to compare its length with the length of the list.

In [4]:
def all_unique(lst):
  return len(lst) == len(set(lst))

In [5]:
all_unique([1, 2, 3, 4, 5, 6]) # True

True

In [6]:
all_unique([1, 2, 2, 3, 4, 5]) # False

False

### average_by

Returns the average of a list, after mapping each element to a value using the provided function.

Use `map()` to map each element to the value returned by `fn`.
Use `sum()` to sum all of the mapped values, divide by `len(lst)`.

In [7]:
def average_by(lst, fn=lambda x: x):
  return sum(map(fn, lst), 0.0) / len(lst)

In [8]:
average_by([{ 'n': 4 }, { 'n': 2 }, { 'n': 8 }, { 'n': 6 }], lambda x: x['n']) # 5.0

5.0

### average

Returns the average of two or more numbers.

Use `sum()` to sum all of the `args` provided, divide by `len(args)`.

In [9]:
def average(*args):
  return sum(args, 0.0) / len(args)

In [10]:
average(*[1, 2, 3]) # 2.0

2.0

In [11]:
average(1, 2, 3) # 2.0

2.0

### bifurcate_by

Splits values into two groups according to a function, which specifies which group an element in the input list belongs to.
If the function returns `True`, the element belongs to the first group; otherwise, it belongs to the second group.

Use list comprehension to add elements to groups, based on `fn`.

In [12]:
def bifurcate_by(lst, fn):
  return [
    [x for x in lst if fn(x)],
    [x for x in lst if not fn(x)]
  ]

In [13]:
bifurcate_by(
  ['beep', 'boop', 'foo', 'bar'],
  lambda x: x[0] == 'b'
) # [ ['beep', 'boop', 'bar'], ['foo'] ]

[['beep', 'boop', 'bar'], ['foo']]

### bifurcate

Splits values into two groups.
If an element in `filter` is `True`, the corresponding element in the collection belongs to the first group; otherwise, it belongs to the second group.

Use list comprehension and `enumerate()` to add elements to groups, based on `filter`.

In [14]:
def bifurcate(lst, filter):
  return [
    [x for i, x in enumerate(lst) if filter[i] == True],
    [x for i, x in enumerate(lst) if filter[i] == False]
  ]

In [15]:
bifurcate(['beep', 'boop', 'foo', 'bar'], [True, True, False, True]) # [ ['beep', 'boop', 'bar'], ['foo'] ]

[['beep', 'boop', 'bar'], ['foo']]

### byte_size

Returns the length of a string in bytes.

Use `s.encode('utf-8')` to encode the given string and return its length.

In [16]:
def byte_size(s):
  return len(s.encode('utf-8'))

In [17]:
byte_size('ðŸ˜€') # 4

4

In [18]:
byte_size('Hello World') # 11

11

### camel

Converts a string to camelcase.

Use `re.sub()` to replace any `-` or `_` with a space, using the regexp `r"(_|-)+"`.
Use `title()` to capitalize the first letter of each word convert the rest to lowercase.
Finally, use `replace()` to remove spaces between words.

In [19]:
from re import sub

def camel(s):
  s = sub(r"(_|-)+", " ", s).title().replace(" ", "")
  return s[0].lower() + s[1:]

In [20]:
camel('some_database_field_name') # 'someDatabaseFieldName'

'someDatabaseFieldName'

In [21]:
camel('Some label that needs to be camelized') # 'someLabelThatNeedsToBeCamelized'

'someLabelThatNeedsToBeCamelized'

In [22]:
camel('some-javascript-property') # 'someJavascriptProperty'

'someJavascriptProperty'

In [23]:
camel('some-mixed_string with spaces_underscores-and-hyphens') # 'someMixedStringWithSpacesUnderscoresAndHyphens'

'someMixedStringWithSpacesUnderscoresAndHyphens'

### capitalize_every_word

Capitalizes the first letter of every word in a string.

Use `s.title()` to capitalize first letter of every word in the string.

In [24]:
def capitalize_every_word(s):
  return s.title()

In [25]:
capitalize_every_word('hello world!') # 'Hello World!'

'Hello World!'

### capitalize

Capitalizes the first letter of a string.

Capitalize the first letter of the string and then add it with rest of the string.
Omit the `lower_rest` parameter to keep the rest of the string intact, or set it to `True` to convert to lowercase.

In [26]:
def capitalize(s, lower_rest=False):
  return s[:1].upper() + (s[1:].lower() if lower_rest else s[1:])

In [27]:
capitalize('fooBar') # 'FooBar'

'FooBar'

In [28]:
capitalize('fooBar', True) # 'Foobar'

'Foobar'

### cast_list

Casts the provided value as a list if it's not one.

Use `isinstance()` to check if the given value is enumerable and return it by using `list()` or encapsulated in a list accordingly.

In [29]:
def cast_list(val):
  return list(val) if isinstance(val, (tuple, list, set, dict)) else [val]

In [30]:
cast_list('foo') # ['foo']

['foo']

In [31]:
cast_list([1]) # [1]

[1]

In [32]:
cast_list(('foo', 'bar')) # ['foo', 'bar']

['foo', 'bar']

### celsius_to_fahrenheit

Converts Celsius to Fahrenheit.

Use the formula `fahrenheit = (celsius * 1.8) + 32` to convert from Celsius to Fahrenheit.

In [33]:
def celsius_to_fahrenheit(celsius):
  return ((celsius * 1.8) + 32)

In [34]:
celsius_to_fahrenheit(180) # 356.0

356.0

### check_prop

Given a predicate function, `fn`, and a `prop` string, this curried function will then take an object to inspect by calling the property and passing it to the predicate.

Return a `lambda` function that takes an object and applies the predicate function, `fn` to the specified property.

In [35]:
def check_prop(fn, prop):
  return lambda obj: fn(obj[prop])

In [36]:
check_age = check_prop(lambda x: x >= 18, 'age')
user = {'name': 'Mark', 'age': 18}

check_age(user) # True

True

### chunk

Chunks a list into smaller lists of a specified size.

Use `list()` and `range()` to create a list of the desired `size`.
Use `map()` on the list and fill it with splices of the given list.
Finally, return the created list.

In [37]:
from math import ceil

def chunk(lst, size):
  return list(
    map(lambda x: lst[x * size:x * size + size],
      list(range(0, ceil(len(lst) / size)))))

In [38]:
chunk([1, 2, 3, 4, 5], 2) # [[1,2],[3,4],5]

[[1, 2], [3, 4], [5]]

### clamp_number

Clamps `num` within the inclusive range specified by the boundary values `a` and `b`.

If `num` falls within the range, return `num`.
Otherwise, return the nearest number in the range.

In [39]:
def clamp_number(num,a,b):
  return max(min(num, max(a, b)), min(a, b))

In [40]:
clamp_number(2, 3, 5) # 3

3

In [41]:
clamp_number(1, -1, -5) # -1

-1

### collect_dictionary

Inverts a dictionary with non-unique hashable values.

Use `dictionary.items()` in combination with a loop to map the values of the dictionary to keys using `dictionary.setdefault()`, `list()` and `append()` to create a list for each one.

In [42]:
def collect_dictionary(obj):
  inv_obj = {}
  for key, value in obj.items():
    inv_obj.setdefault(value, list()).append(key)
  return inv_obj

In [43]:
ages = {
  "Peter": 10,
  "Isabel": 10,
  "Anna": 9,
}
collect_dictionary(ages) # { 10: ["Peter", "Isabel"], 9: ["Anna"] }

{10: ['Peter', 'Isabel'], 9: ['Anna']}

### compact

Removes falsey values from a list.

Use `filter()` to filter out falsey values (`False`, `None`, `0`, and `""`).

In [44]:
def compact(lst):
  return list(filter(None, lst))

In [45]:
compact([0, 1, False, 2, '', 3, 'a', 's', 34]) # [ 1, 2, 3, 'a', 's', 34 ]

[1, 2, 3, 'a', 's', 34]

### compose

Performs right-to-left function composition.

Use `functools.reduce()` to perform right-to-left function composition. 
The last (rightmost) function can accept one or more arguments; the remaining functions must be unary.

In [46]:
from functools import reduce

def compose(*fns):
  return reduce(lambda f, g: lambda *args: f(g(*args)), fns)

In [47]:
add5 = lambda x: x + 5
multiply = lambda x, y: x * y
multiply_and_add_5 = compose(add5, multiply)

multiply_and_add_5(5, 2) # 15

15

### compose_right

Performs left-to-right function composition.

Use `functools.reduce()` to perform left-to-right function composition. 
The first (leftmost) function can accept one or more arguments; the remaining functions must be unary.

In [48]:
from functools import reduce

def compose_right(*fns):
  return reduce(lambda f, g: lambda *args: g(f(*args)), fns)

In [49]:
add = lambda x, y: x + y
square = lambda x: x * x
add_and_square = compose_right(add,square)

add_and_square(1, 2) # 9

9

### count_by

Groups the elements of a list based on the given function and returns the count of elements in each group.

Use `map()` to map the values of the given list using the given function.
Iterate over the map and increase the element count each time it occurs.

In [50]:
def count_by(arr, fn=lambda x: x):
  key = {}
  for el in map(fn, arr):
    key[el] = 1 if el not in key else key[el] + 1
  return key

In [51]:
from math import floor
count_by([6.1, 4.2, 6.3], floor) # {6: 2, 4: 1}

{6: 2, 4: 1}

In [52]:
count_by(['one', 'two', 'three'], len) # {3: 2, 5: 1}

{3: 2, 5: 1}

### count_occurences

Counts the occurrences of a value in a list.

Increment a counter for every item in the list that has the given value and is of the same type.

In [53]:
def count_occurrences(lst, val):
  return len([x for x in lst if x == val and type(x) == type(val)])

In [54]:
count_occurrences([1, 1, 2, 1, 2, 3], 1) # 3

3

### curry

Curries a function.

Use `functools.partial()` to return a new partial object which behaves like `fn` with the given arguments, `args`, partially applied.

In [55]:
from functools import partial

def curry(fn, *args):
  return partial(fn,*args)

In [56]:
add = lambda x, y: x + y
add10 = curry(add, 10)

add10(20) # 30

30

### decapitalize

Decapitalizes the first letter of a string.

Decapitalize the first letter of the string and then add it with rest of the string.
Omit the `upper_rest` parameter to keep the rest of the string intact, or set it to `True` to convert to uppercase.

In [57]:
def decapitalize(s, upper_rest=False):
  return s[:1].lower() + (s[1:].upper() if upper_rest else s[1:])

In [58]:
decapitalize('FooBar') # 'fooBar'

'fooBar'

In [59]:
decapitalize('FooBar', True) # 'fOOBAR'

'fOOBAR'

### deep_flatten

Deep flattens a list.

Use recursion.
Use `isinstance()` with `collections.abc.Iterable` to check if an element is iterable.
If it is, apply `deep_flatten()` recursively, otherwise return `[lst]`.

In [60]:
from collections.abc import Iterable

def deep_flatten(lst):
  return [a for i in lst for a in deep_flatten(i)] if isinstance(lst, Iterable) else [lst]

In [61]:
deep_flatten([1, [2], [[3], 4], 5]) # [1,2,3,4,5]

[1, 2, 3, 4, 5]

### degrees_to_rads

Converts an angle from degrees to radians.

Use `math.pi` and the degrees to radians formula to convert the angle from degrees to radians.

In [62]:
from math import pi

def degrees_to_rads(deg):
  return (deg * pi) / 180.0

In [63]:
degrees_to_rads(180) # 3.141592653589793

3.141592653589793

### delay

Invokes the provided function after `ms` milliseconds.

Use `time.sleep()` to delay the execution of `fn` by `ms / 1000` seconds.

In [64]:
from time import sleep

def delay(fn, ms, *args):
  sleep(ms / 1000)
  return fn(*args)

In [65]:
delay(
  lambda x: print(x),
  1000,
  'later'
) # prints 'later' after one second

later

### difference_by

Returns the difference between two lists, after applying the provided function to each list element of both.

Create a `set` by applying `fn` to each element in `b`, then use list comprehension in combination with `fn` on `a` to only keep values not contained in the previously created set, `_b`.

In [66]:
def difference_by(a, b, fn):
  _b = set(map(fn, b))
  return [item for item in a if fn(item) not in _b]

In [67]:
from math import floor
difference_by([2.1, 1.2], [2.3, 3.4], floor) # [1.2]

[1.2]

In [68]:
difference_by([{ 'x': 2 }, { 'x': 1 }], [{ 'x': 1 }], lambda v : v['x']) # [ { x: 2 } ]

[{'x': 2}]

### difference

Returns the difference between two iterables.

Create a `set` from `b`, then use list comprehension on `a` to only keep values not contained in the previously created set, `_b`.

In [69]:
def difference(a, b):
  _b = set(b)
  return [item for item in a if item not in _b]

In [70]:
difference([1, 2, 3], [1, 2, 4]) # [3]

[3]

### digitize

Converts a number to a list of digits.

Use `map()` combined with `int` on the string representation of `n` and return a list from the result.

In [71]:
def digitize(n):
  return list(map(int, str(n)))

In [72]:
digitize(123) # [1, 2, 3]

[1, 2, 3]

### drop

Returns a list with `n` elements removed from the left.

Use slice notation to remove the specified number of elements from the left.

In [73]:
def drop(a, n = 1):
  return a[n:]

In [74]:
drop([1, 2, 3]) # [2, 3]

[2, 3]

In [75]:
drop([1, 2, 3], 2) # [3]

[3]

In [76]:
drop([1, 2, 3], 42) # []

[]

### drop_right

Returns a list with `n` elements removed from the right.

Use slice notation to remove the specified number of elements from the right.

In [77]:
def drop_right(a, n = 1):
  return a[:-n]

In [78]:
drop_right([1, 2, 3]) # [1, 2]

[1, 2]

In [79]:
drop_right([1, 2, 3], 2) # [1]

[1]

In [80]:
drop_right([1, 2, 3], 42) # []

[]

### every

Returns `True` if the provided function returns `True` for every element in the list, `False` otherwise.

Use `all()` in combination with `map` and `fn` to check if `fn` returns `True` for all elements in the list.

In [81]:
def every(lst, fn=lambda x: x):
  return all(map(fn, lst))

In [82]:
every([4, 2, 3], lambda x: x > 1) # True

True

In [83]:
every([1, 2, 3]) # True

True

### every_nth

Returns every nth element in a list.

Use `[nth-1::nth]` to create a new list that contains every nth element of the given list.

In [84]:
def every_nth(lst, nth):
  return lst[nth - 1::nth]

In [85]:
every_nth([1, 2, 3, 4, 5, 6], 2) # [ 2, 4, 6 ]

[2, 4, 6]

### factorial

Calculates the factorial of a number.

Use recursion.
If `num` is less than or equal to `1`, return `1`.
Otherwise, return the product of `num` and the factorial of `num - 1`.
Throws an exception if `num` is a negative or a floating point number.

In [86]:
def factorial(num):
  if not ((num >= 0) and (num % 1 == 0)):
    raise Exception("Number can't be floating point or negative.")
  return 1 if num == 0 else num * factorial(num - 1)

In [87]:
factorial(6) # 720

720

### fahrenheit_to_celsius

Converts Fahrenheit to Celsius.

Use the formula `celsius = (fahrenheit - 32) / 1.8` to convert from Fahrenheit to Celsius.

In [88]:
def fahrenheit_to_celsius(fahrenheit):
  return ((fahrenheit - 32) / 1.8)

In [89]:
fahrenheit_to_celsius(77) # 25.0

25.0

### fibonacci


Generates a list, containing the Fibonacci sequence, up until the nth term.

Starting with `0` and `1`, use `list.append()` to add the sum of the last two numbers of the list to the end of the list, until the length of the list reaches `n`.  
If `n` is less or equal to `0`, return a list containing `0`.

In [90]:
def fibonacci(n):
  if n <= 0:
    return [0]

  sequence = [0, 1]
  while len(sequence) <= n:
    next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
    sequence.append(next_value)

  return sequence

In [91]:
fibonacci(7) # [0, 1, 1, 2, 3, 5, 8, 13]

[0, 1, 1, 2, 3, 5, 8, 13]

### filter_non_unique

Filters out the non-unique values in a list.

Use a `collections.Counter` to get the count of each value in the list.
Use list comprehension to create a list containing only the unique values.

In [92]:
from collections import Counter

def filter_non_unique(lst):
  return [item for item, count in counter = Counter(lst).items() if count == 1]

SyntaxError: invalid syntax (<ipython-input-92-473ee47bfcc5>, line 4)

In [93]:
filter_non_unique([1, 2, 2, 3, 4, 4, 5]) # [1, 3, 5]

NameError: name 'filter_non_unique' is not defined

### filter_unique

Filters out the unique values in a list.

Use a `collections.Counter` to get the count of each value in the list.
Use list comprehension to create a list containing only the non-unique values.

In [94]:
from collections import Counter

def filter_unique(lst):
  return [item for item, count in Counter(lst).items() if count > 1]

In [95]:
filter_unique([1, 2, 2, 3, 4, 4, 5]) # [2, 4]

[2, 4]

### find_index

Returns the index of the first element in the provided list that satisfies the provided testing function.

Use list comprehension, `enumerate()` and `next()` to return the index of the first element in `lst` for which `fn` returns `True`.

In [96]:
def find_index(lst, fn):
  return next(i for i, x in enumerate(lst) if fn(x))

In [97]:
find_index([1, 2, 3, 4], lambda n: n % 2 == 1) # 0

0

### find_key

Returns the first key in the provided dictionary that has the given value.

Use `dictionary.items()` and `next()` to return the first key that has a value equal to `val`.

In [98]:
def find_key(dict, val):
  return next(key for key, value in dict.items() if value == val)

In [99]:
ages = {
  "Peter": 10,
  "Isabel": 11,
  "Anna": 9,
}
find_key(ages, 11) # "Isabel"

'Isabel'

### find_keys

Returns all keys in the provided dictionary that have the given value.

Use `dictionary.items()`, a generator and `list()` to return all keys that have a value equal to `val`.

In [100]:
def find_keys(dict, val):
  return list(key for key, value in dict.items() if value == val)

In [101]:
ages = {
  "Peter": 10,
  "Isabel": 11,
  "Anna": 10,
}
find_keys(ages, 10) # [ "Peter", "Anna" ]

['Peter', 'Anna']

### find_last_index

Returns the index of the last element in the provided list that satisfies the provided testing function.

Use list comprehension, `enumerate()` and `next()` to return the index of the last element in `lst` for which `fn` returns `True`.

In [102]:
def find_last_index(lst, fn):
  return len(lst) - 1 - next(i for i, x in enumerate(lst[::-1]) if fn(x))

In [103]:
find_last_index([1, 2, 3, 4], lambda n: n % 2 == 1) # 2

2

### find_last

Returns the value of the last element in the provided list that satisfies the provided testing function.

Use list comprehension and `next()` to return the last element in `lst` for which `fn` returns `True`.

In [104]:
def find_last(lst, fn):
  return next(x for x in lst[::-1] if fn(x))

In [105]:
find_last([1, 2, 3, 4], lambda n: n % 2 == 1) # 3

3

### find

Returns the value of the first element in the provided list that satisfies the provided testing function.

Use list comprehension and `next()` to return the first element in `lst` for which `fn` returns `True`.

In [106]:
def find(lst, fn):
  return next(x for x in lst if fn(x))

In [107]:
find([1, 2, 3, 4], lambda n: n % 2 == 1) # 1

1

### find_parity_outliers

Given a list, returns the items that are parity outliers.

Use `collections.Counter` with a list comprehension to count even and odd values in the list, use `collections.Counter.most_common()` to get the most common parity.
Use a list comprehension to find all elements that do not match the most common parity.

In [108]:
from collections import Counter

def find_parity_outliers(nums):
  return [
    x for x in nums
    if x % 2 != Counter([n % 2 for n in nums]).most_common()[0][0]
  ]

In [109]:
find_parity_outliers([1, 2, 3, 4, 6]) # [1, 3]

[1, 3]

### flatten

Flattens a list of lists once.

Use nested list comprehension to extract each value from sub-lists in order.

In [110]:
def flatten(lst):
  return [x for y in lst for x in y]

In [111]:
flatten([[1,2,3,4],[5,6,7,8]]) # [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

### for_each

Executes the provided function once for each list element.

Use a `for` loop to execute `fn` for each element in `itr`.

In [112]:
def for_each(itr, fn):
  for el in itr:
    fn(el)

In [113]:
for_each([1, 2, 3], print) # 1 2 3

1
2
3

### for_each_right

Executes the provided function once for each list element, starting from the list's last element.

Use a `for` loop in combination with slice notation to execute `fn` for each element in `itr`, starting from the last one.

In [114]:
def for_each_right(itr, fn):
  for el in itr[::-1]:
    fn(el)

In [115]:
for_each_right([1, 2, 3], print) # 3 2 1

3
2
1

### frequencies

Returns a dictionary with the unique values of a list as keys and their frequencies as the values.

Use a `for` loop to populate a dictionary, `f`, with the unique values in `lst` as keys, adding to existing keys every time the same value is encountered.

In [116]:
from functools import reduce

def frequencies(lst):
  f = {}
  for x in lst:
    f[x] = f[x] + 1 if x in f else 1
  return f

In [117]:
frequencies(['a', 'b', 'a', 'c', 'a', 'a', 'b']) # { 'a': 4, 'b': 2, 'c': 1 }

{'a': 4, 'b': 2, 'c': 1}

### gcd

Calculates the greatest common divisor of a list of numbers.

Use `functools.reduce()` and `math.gcd()` over the given list.

In [118]:
from functools import reduce
from math import gcd

def gcd(numbers):
  return reduce(gcd, numbers)

In [119]:
gcd([8, 36, 28]) # 4

TypeError: gcd() takes 1 positional argument but 2 were given

### group_by

Groups the elements of a list based on the given function.

Use `map()` and `fn` to map the values of the list to the keys of a dictionary.
Use list comprehension to map each element to the appropriate `key`.

In [120]:
def group_by(lst, fn):
  return {key : [el for el in lst if fn(el) == key] for key in map(fn, lst)}

In [121]:
from math import floor
group_by([6.1, 4.2, 6.3], floor) # {4: [4.2], 6: [6.1, 6.3]}

{6: [6.1, 6.3], 4: [4.2]}

In [122]:
group_by(['one', 'two', 'three'], len) # {3: ['one', 'two'], 5: ['three']}

{3: ['one', 'two'], 5: ['three']}

### has_duplicates

Returns `True` if there are duplicate values in a flat list, `False` otherwise.

Use `set()` on the given list to remove duplicates, compare its length with the length of the list.

In [123]:
def has_duplicates(lst):
  return len(lst) != len(set(lst))

In [124]:
x = [1, 2, 3, 4, 5, 5]
has_duplicates(x) # True

True

In [125]:
y = [1, 2, 3, 4, 5]
has_duplicates(y) # False

False

### have_same_contents

Returns `True` if two lists contain the same elements regardless of order, `False` otherwise.

Use `set()` on the combination of both lists to find the unique values.
Iterate over them with a `for` loop comparing the `count()` of each unique value in each list.
Return `False` if the counts do not match for any element, `True` otherwise.

In [126]:
def have_same_contents(a, b):
  for v in set(a + b):
    if a.count(v) != b.count(v):
      return False
  return True

In [127]:
have_same_contents([1, 2, 4], [2, 4, 1]) # True

True

### head

Returns the head of a list.

Use `lst[0]` to return the first element of the passed list.

In [128]:
def head(lst):
  return lst[0]

In [129]:
head([1, 2, 3]) # 1

1

### includes_all

Returns `True` if all the elements in `values` are included in `lst`, `False` otherwise.

Check if every value in `values` is contained in `lst` using a `for` loop, returning `False` if any one value is not found, `True` otherwise.

In [130]:
def includes_all(lst, values):
  for v in values:
    if v not in lst:
      return False
  return True

In [131]:
includes_all([1, 2, 3, 4], [1, 4]) # True

True

In [132]:
includes_all([1, 2, 3, 4], [1, 5]) # False

False

### includes_any

Returns `True` if any element in `values` is included in `lst`, `False` otherwise.

Check if any value in `values` is contained in `lst` using a `for` loop, returning `True` if any one value is found, `False` otherwise.

In [133]:
def includes_any(lst, values):
  for v in values:
    if v in lst:
      return True
  return False

In [134]:
includes_any([1, 2, 3, 4], [2, 9]) # True

True

In [135]:
includes_any([1, 2, 3, 4], [8, 9]) # False

False

### initialize_2d_list

Initializes a 2D list of given width and height and value.

Use list comprehension and `range()` to generate `h` rows where each is a list with length `h`, initialized with `val`.
If `val` is not provided, default to `None`.

In [136]:
def initialize_2d_list(w,h, val = None):
  return [[val for x in range(w)] for y in range(h)]

In [137]:
initialize_2d_list(2, 2, 0) # [[0,0], [0,0]]

[[0, 0], [0, 0]]

### initialize_list_with_range

Initializes a list containing the numbers in the specified range where `start` and `end` are inclusive with their common difference `step`.

Use `list` and `range()` to generate a list of the appropriate length, filled with the desired values in the given range.
Omit `start` to use the default value of `0`.
Omit `step` to use the default value of `1`.

In [138]:
def initialize_list_with_range(end, start=0, step=1):
  return list(range(start, end + 1, step))

In [139]:
initialize_list_with_range(5) # [0, 1, 2, 3, 4, 5]

[0, 1, 2, 3, 4, 5]

In [140]:
initialize_list_with_range(7, 3) # [3, 4, 5, 6, 7]

[3, 4, 5, 6, 7]

In [141]:
initialize_list_with_range(9, 0, 2) # [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

### initialize_list_with_values

Initializes and fills a list with the specified value.

Use list comprehension and `range()` to generate a list of length equal to `n`, filled with the desired values.
Omit `val` to use the default value of `0`.

In [142]:
def initialize_list_with_values(n, val = 0):
  return [val for x in range(n)]

In [143]:
initialize_list_with_values(5, 2) # [2, 2, 2, 2, 2]

[2, 2, 2, 2, 2]

### initial

Returns all the elements of a list except the last one.

Use `lst[0:-1]` to return all but the last element of the list.

In [144]:
def initial(lst):
  return lst[0:-1]

In [145]:
initial([1, 2, 3]) # [1,2]

[1, 2]

### in_range

Checks if the given number falls within the given range.

Use arithmetic comparison to check if the given number is in the specified range.
If the second parameter, `end`, is not specified, the range is considered to be from `0` to `start`.

In [146]:
def in_range(n, start, end = 0):
  return start <= n <= end if end >= start else end <= n <= start

In [147]:
in_range(3, 2, 5) # True

True

In [148]:
in_range(3, 4) # True

True

In [149]:
in_range(2, 3, 5) # False

False

In [150]:
in_range(3, 2) # False

False

### intersection_by

Returns a list of elements that exist in both lists, after applying the provided function to each list element of both.

Create a `set` by applying `fn` to each element in `b`, then use list comprehension in combination with `fn` on `a` to only keep values contained in both lists.

In [151]:
def intersection_by(a, b, fn):
  _b = set(map(fn, b))
  return [item for item in a if fn(item) in _b]

In [152]:
from math import floor
intersection_by([2.1, 1.2], [2.3, 3.4],floor) # [2.1]

[2.1]

### intersection

Returns a list of elements that exist in both lists.

Create a `set` from `a` and `b`, then use the built-in set operator `&` to only keep values contained in both sets, then transform the `set` back into a `list`.

In [153]:
def intersection(a, b):
  _a, _b = set(a), set(b)
  return list(_a & _b)

In [154]:
intersection([1, 2, 3], [4, 3, 2]) # [2, 3]

[2, 3]

### invert_dictionary

Inverts a dictionary with unique hashable values.

Use `dictionary.items()` in combination with a list comprehension to create a new dictionary with the values and keys inverted.

In [155]:
def invert_dictionary(obj):
  return { value: key for key, value in obj.items() }

In [156]:
ages = {
  "Peter": 10,
  "Isabel": 11,
  "Anna": 9,
}
invert_dictionary(ages) # { 10: "Peter", 11 "Isabel", 9: "Anna" }

{10: 'Peter', 11: 'Isabel', 9: 'Anna'}

### is_anagram

Checks if a string is an anagram of another string (case-insensitive, ignores spaces, punctuation and special characters).

Use `isalnum()` to filter out non-alphanumeric characters, `lower()` to transform each character to lowercase.
Use `collections.Counter` to count the resulting characters for each string and compare the results.

In [157]:
from collections import Counter

def is_anagram(s1, s2):
  return Counter(
    c.lower() for c in s1 if c.isalnum()
  ) == Counter(
    c.lower() for c in s2 if c.isalnum()
  )

In [158]:
is_anagram("#anagram", "Nag a ram!")  # True

True

### is_contained_in

Returns `True` if the elements of the first list are contained in the second one regardless of order, `False` otherwise.

Use `count()` to check if any value in `a` has more occurences than it has in `b`, returning `False` if any such value is found, `True` otherwise.

In [159]:
def is_contained_in(a, b):
  for v in set(a):
    if a.count(v) > b.count(v):
      return False
  return True

In [160]:
is_contained_in([1, 4], [2, 4, 1]) # True

True

### is_divisible

Checks if the first numeric argument is divisible by the second one.

Use the modulo operator (`%`) to check if the remainder is equal to `0`.

In [161]:
def is_divisible(dividend, divisor):
  return dividend % divisor == 0

In [162]:
is_divisible(6, 3) # True

True

### is_even

Returns `True` if the given number is even, `False` otherwise.

Checks whether a number is odd or even using the modulo (`%`) operator.
Returns `True` if the number is even, `False` if the number is odd.

In [163]:
def is_even(num):
  return num % 2 == 0

In [164]:
is_even(3) # False

False

### is_odd

Returns `True` if the given number is odd, `False` otherwise.

Checks whether a number is even or odd using the modulo (`%`) operator.
Returns `True` if the number is odd, `False` if the number is even.

In [165]:
def is_odd(num):
  return num % 2 != 0

In [166]:
is_odd(3) # True

True

### kebab

Converts a string to kebab case.

Break the string into words and combine them adding `-` as a separator, using a regexp.

from re import sub

In [167]:
def kebab(s):
  return sub(
    r"(\s|_|-)+","-",
    sub(
      r"[A-Z]{2,}(?=[A-Z][a-z]+[0-9]*|\b)|[A-Z]?[a-z]+[0-9]*|[A-Z]|[0-9]+",
      lambda mo: mo.group(0).lower(), s))

In [168]:
kebab('camelCase') # 'camel-case'

'camelcase'

In [169]:
kebab('some text') # 'some-text'

'some-text'

In [170]:
kebab('some-mixed_string With spaces_underscores-and-hyphens') # 'some-mixed-string-with-spaces-underscores-and-hyphens'

'some-mixed-string-with-spaces-underscores-and-hyphens'

In [171]:
kebab('AllThe-small Things') # "all-the-small-things"

'allthe-small-things'

### keys_only

Returns a flat list of all the keys in a flat dictionary.

Use `dict.keys()` to return the keys in the given dictionary.
Return a `list()` of the previous result.

In [172]:
def keys_only(flat_dict):
  return list(flat_dict.keys())

In [173]:
ages = {
  "Peter": 10,
  "Isabel": 11,
  "Anna": 9,
}
keys_only(ages) # ['Peter', 'Isabel', 'Anna']

['Peter', 'Isabel', 'Anna']

### last

Returns the last element in a list.

use `lst[-1]` to return the last element of the passed list.

In [174]:
def last(lst):
  return lst[-1]

In [175]:
last([1, 2, 3]) # 3

3

### lcm

Returns the least common multiple of a list of numbers.

Use `functools.reduce()`, `math.gcd()` and `lcm(x,y) = x * y / gcd(x,y)` over the given list.

In [176]:
from functools import reduce
from math import gcd

def lcm(numbers):
  return reduce((lambda x, y: int(x * y / gcd(x, y))), numbers)

In [177]:
lcm([12, 7]) # 84

84

In [178]:
lcm([1, 3, 4, 5]) # 60

60

### longest_item

Takes any number of iterable objects or objects with a length property and returns the longest one.
If multiple objects have the same length, the first one will be returned.

Use `max()` with `len` as the `key` to return the item with the greatest length.

In [179]:
def longest_item(*args):
  return max(args, key=len)

In [180]:
longest_item('this', 'is', 'a', 'testcase') # 'testcase'

'testcase'

In [181]:
longest_item([1, 2, 3], [1, 2], [1, 2, 3, 4, 5]) # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [182]:
longest_item([1, 2, 3], 'foobar') # 'foobar'

'foobar'

### map_dictionary

Maps the values of a list to a dictionary using a function, where the key-value pairs consist of the original value as the key and the result of the function as the value.

Use a `for` loop to iterate over the list's values, assigning the values produced by `fn` to each key of the dictionary.

In [183]:
def map_dictionary(itr, fn):
  ret = {}
  for x in itr:
    ret[x] = fn(x)
  return ret

In [184]:
map_dictionary([1,2,3], lambda x: x * x) # { 1: 1, 2: 4, 3: 9 }

{1: 1, 2: 4, 3: 9}

### map_values

Creates a dictionary with the same keys as the provided dictionary and values generated by running the provided function for each value.

Use `dict.keys()` to iterate over the dictionary's keys, assigning the values produced by `fn` to each key of a new dictionary.

In [185]:
def map_values(obj, fn):
  ret = {}
  for key in obj.keys():
    ret[key] = fn(obj[key])
  return ret

In [186]:
users = {
  'fred': { 'user': 'fred', 'age': 40 },
  'pebbles': { 'user': 'pebbles', 'age': 1 }
}

map_values(users, lambda u : u['age']) # {'fred': 40, 'pebbles': 1}

{'fred': 40, 'pebbles': 1}

### max_by

Returns the maximum value of a list, after mapping each element to a value using the provided function.

Use `map()` with `fn` to map each element to a value using the provided function, use `max()` to return the maximum value.

In [187]:
def max_by(lst, fn):
  return max(map(fn, lst))

In [188]:
max_by([{ 'n': 4 }, { 'n': 2 }, { 'n': 8 }, { 'n': 6 }], lambda v : v['n']) # 8

8

### max_element_index

Returns the index of the element with the maximum value in a list.

Use `max()` and `list.index()` to get the maximum value in the list and return its index.

In [189]:
def max_element_index(arr):
  return arr.index(max(arr))

In [190]:
max_element_index([5, 8, 9, 7, 10, 3, 0]) # 4

4

### max_n

Returns the `n` maximum elements from the provided list.
If `n` is greater than or equal to the provided list's length, then return the original list (sorted in descending order).

Use `sorted()` to sort the list, `[:n]` to get the specified number of elements.
Omit the second argument, `n`, to get a one-element list.

In [191]:
def max_n(lst, n=1):
  return sorted(lst, reverse=True)[:n]

In [192]:
max_n([1, 2, 3]) # [3]

[3]

In [193]:
max_n([1, 2, 3], 2) # [3,2]

[3, 2]

### median

Finds the median of a list of numbers.

Sort the numbers of the list using `list.sort()` and find the median, which is either the middle element of the list if the list length is odd or the average of the two middle elements if the list length is even.

[`statistics.median()`](https://docs.python.org/3/library/statistics.html#statistics.median) provides similar functionality to this snippet.

In [194]:
def median(list):
  list.sort()
  list_length = len(list)
  if list_length % 2 == 0:
    return (list[int(list_length / 2) - 1] + list[int(list_length / 2)]) / 2
  return list[int(list_length / 2)]

In [195]:
median([1,2,3]) # 2

2

In [196]:
median([1,2,3,4]) # 2.5

2.5

### merge_dictionaries

Merges two or more dictionaries.

Create a new `dict()` and loop over `dicts`, using `dictionary.update()` to add the key-value pairs from each one to the result.

In [197]:
def merge_dictionaries(*dicts):
  res = dict()
  for d in dicts:
    res.update(d)
  return res

In [198]:
ages_one = {
  "Peter": 10,
  "Isabel": 11,
}
ages_two = {
  "Anna": 9
}
merge_dictionaries(ages_one, ages_two) # { "Peter": 10, "Isabel": 11, "Anna": 9 }

{'Peter': 10, 'Isabel': 11, 'Anna': 9}

### merge

Merges two or more lists into a list of lists, combining elements from each of the input lists based on their positions.

Use `max` combined with list comprehension to get the length of the longest list in the arguments.
Use `range()` in combination with the `max_length` variable to loop as many times as there are elements in the longest list.
If a list is shorter than `max_length`, use `fill_value` for the remaining items (defaults to `None`).

[`zip()`](https://docs.python.org/3/library/functions.html#zip) and [`itertools.zip_longest()`](https://docs.python.org/3/library/itertools.html#itertools.zip_longest) provide similar functionality to this snippet.

In [199]:
def merge(*args, fill_value=None):
  max_length = max([len(lst) for lst in args])
  result = []
  for i in range(max_length):
    result.append([
      args[k][i] if i < len(args[k]) else fill_value for k in range(len(args))
    ])
  return result

In [200]:
merge(['a', 'b'], [1, 2], [True, False]) # [['a', 1, True], ['b', 2, False]]

[['a', 1, True], ['b', 2, False]]

In [201]:
merge(['a'], [1, 2], [True, False]) # [['a', 1, True], [None, 2, False]]

[['a', 1, True], [None, 2, False]]

In [202]:
merge(['a'], [1, 2], [True, False], fill_value = '_') # [['a', 1, True], ['_', 2, False]]

[['a', 1, True], ['_', 2, False]]

### min_by

Returns the minimum value of a list, after mapping each element to a value using the provided function.

Use `map()` with `fn` to map each element to a value using the provided function, use `min()` to return the minimum value.

In [203]:
def min_by(lst, fn):
  return min(map(fn, lst))

In [204]:
min_by([{ 'n': 4 }, { 'n': 2 }, { 'n': 8 }, { 'n': 6 }], lambda v : v['n']) # 2

2

### min_n

Returns the `n` minimum elements from the provided list.
If `n` is greater than or equal to the provided list's length, then return the original list (sorted in ascending order).

Use `sorted() to sort the list, `[:n]` to get the specified number of elements.
Omit the second argument, `n`, to get a one-element list.

In [205]:
def min_n(lst, n=1):
  return sorted(lst, reverse=False)[:n]

In [206]:
min_n([1, 2, 3]) # [1]

[1]

In [207]:
min_n([1, 2, 3], 2) # [1,2]

[1, 2]

### most_frequent

Returns the most frequent element in a list.

Use `set(list)` to get the unique values in the `list` combined with `max()` to find the element that has the most appearances.

In [208]:
def most_frequent(list):
  return max(set(list), key=list.count)

In [209]:
most_frequent([1, 2, 1, 2, 3, 2, 1, 4, 2]) #2

2

### none

Returns `False` if the provided function returns `True` for at least one element in the list, `True` otherwise.

Use `all()` and `fn` to check if `fn` returns `False` for all the elements in the list.

In [210]:
def none(lst, fn=lambda x: x):
  return all(not fn(x) for x in lst)

In [211]:
none([0, 1, 2, 0], lambda x: x >= 2 ) # False

False

In [212]:
none([0, 0, 0]) # True

True

### n_times_string

Prints out the same string a defined number of times.

Repeat the string `n` times, using the `*` operator.

In [213]:
def n_times_string(s, n):
  return (s * n)

In [214]:
n_times_string('py', 4) #'pypypypy'

'pypypypy'

### offset

Moves the specified amount of elements to the end of the list.

Use `lst[offset:]` and `lst[:offset]` to get the two slices of the list and combine them before returning.

In [215]:
def offset(lst, offset):
  return lst[offset:] + lst[:offset]

In [216]:
offset([1, 2, 3, 4, 5], 2) # [3, 4, 5, 1, 2]

[3, 4, 5, 1, 2]

In [217]:
offset([1, 2, 3, 4, 5], -2) # [4, 5, 1, 2, 3]

[4, 5, 1, 2, 3]

### palindrome

Returns `True` if the given string is a palindrome, `False` otherwise.

Use `s.lower()` and `re.sub()` to convert to lowercase and  remove non-alphanumeric characters from the given string.
Then, compare the new string with its reverse.

In [218]:
from re import sub

def palindrome(s):
  s = sub('[\W_]', '', s.lower())
  return s == s[::-1]

In [219]:
palindrome('taco cat') # True

True

### rads_to_degrees

Converts an angle from radians to degrees.

Use `math.pi` and the radian to degree formula to convert the angle from radians to degrees.

from math import pi

In [220]:
def rads_to_degrees(rad):
  return (rad * 180.0) / math.pi

In [221]:
from math import pi
rads_to_degrees(math.pi / 2) # 90.0

NameError: name 'math' is not defined

### reverse_string

Returns the reverse of a string.

Use string slicing to reverse the string.

In [222]:
def reverse_string(s):
  return s[::-1]

In [223]:
reverse_string("snippet") #"teppins"

'teppins'

### sample

Returns a random element from a list.

Use `random.randint()` to generate a random number that corresponds to an index in the list, return the element at that index.

[`random.sample()`](https://docs.python.org/3/library/random.html#random.sample) provides similar functionality to this snippet.

In [224]:
from random import randint

def sample(lst):
  return lst[randint(0, len(lst) - 1)]

In [225]:
sample([3, 7, 9, 11]) # 9

3

### shuffle

Randomizes the order of the values of an list, returning a new list.

Uses the [Fisher-Yates algorithm](https://en.wikipedia.org/wiki/Fisher%E2%80%93Yates_shuffle) to reorder the elements of the list.

[`random.shuffle`](https://docs.python.org/3/library/random.html#random.shuffle) provides similar functionality to this snippet.

In [226]:
from copy import deepcopy
from random import randint

def shuffle(lst):
  temp_lst = deepcopy(lst)
  m = len(temp_lst)
  while (m):
    m -= 1
    i = randint(0, m)
    temp_lst[m], temp_lst[i] = temp_lst[i], temp_lst[m]
  return temp_lst

In [227]:
foo = [1,2,3]
shuffle(foo) # [2,3,1], foo = [1,2,3]

[2, 3, 1]

### similarity

Returns a list of elements that exist in both lists.

Use list comprehension on `a` to only keep values contained in both lists.

In [228]:
def similarity(a, b):
  return [item for item in a if item in b]

In [229]:
similarity([1, 2, 3], [1, 2, 4]) # [1, 2]

[1, 2]

### snake

Converts a string to snake case.

Break the string into words and combine them adding `_` as a separator, using a regexp.

In [230]:
from re import sub

def snake(s):
  return '_'.join(
    sub('([A-Z][a-z]+)', r' \1',
    sub('([A-Z]+)', r' \1',
    s.replace('-', ' '))).split()).lower()

In [231]:
snake('camelCase') # 'camel_case'

'camel_case'

In [232]:
snake('some text') # 'some_text'

'some_text'

In [233]:
snake('some-mixed_string With spaces_underscores-and-hyphens') # 'some_mixed_string_with_spaces_underscores_and_hyphens'

'some_mixed_string_with_spaces_underscores_and_hyphens'

In [234]:
snake('AllThe-small Things') # "all_the_small_things"

'all_the_small_things'

### some

Returns `True` if the provided function returns `True` for at least one element in the list, `False` otherwise.

Use `any()` in combination with `map()` and `fn` to check if `fn` returns `True` for any element in the list.

In [235]:
def some(lst, fn=lambda x: x):
  return any(map(fn, lst))

In [236]:
some([0, 1, 2, 0], lambda x: x >= 2 ) # True

True

In [237]:
some([0, 0, 1, 0]) # True

True

### split_lines

Splits a multiline string into a list of lines.

Use `s.split()` and `'\n'` to match line breaks and create a list.

[`str.splitlines()`](https://docs.python.org/3/library/stdtypes.html#str.splitlines) provides similar functionality to this snippet.

In [238]:
def split_lines(s):
  return s.split('\n')

In [239]:
split_lines('This\nis a\nmultiline\nstring.\n') # ['This', 'is a', 'multiline', 'string.' , '']

['This', 'is a', 'multiline', 'string.', '']

### spread

Flattens a list, by spreading its elements into a new list.

Loop over elements, use `list.extend()` if the element is a list, `list.append()` otherwise.

In [240]:
def spread(arg):
  ret = []
  for i in arg:
    ret.extend(i) if isinstance(i, list) else ret.append(i)
  return ret

In [241]:
spread([1, 2, 3, [4, 5, 6], [7], 8, 9]) # [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### sum_by

Returns the sum of a list, after mapping each element to a value using the provided function.

Use `map()` with `fn` to map each element to a value using the provided function, use `sum()` to return the sum of the values.

In [242]:
def sum_by(lst, fn):
  return sum(map(fn, lst))

In [243]:
sum_by([{ 'n': 4 }, { 'n': 2 }, { 'n': 8 }, { 'n': 6 }], lambda v : v['n']) # 20

20

### symmetric_difference_by

Returns the symmetric difference between two lists, after applying the provided function to each list element of both.

Create a `set` by applying `fn` to each element in every list, then use list comprehension in combination with `fn` on each one to only keep values not contained in the previously created set of the other.

In [244]:
def symmetric_difference_by(a, b, fn):
  _a, _b = set(map(fn, a)), set(map(fn, b))
  return [item for item in a if fn(item) not in _b] + [item for item in b if fn(item) not in _a]

In [245]:
from math import floor
symmetric_difference_by([2.1, 1.2], [2.3, 3.4],floor) # [1.2, 3.4]

[1.2, 3.4]

### symmetric_difference

Returns the symmetric difference between two iterables, without filtering out duplicate values.

Create a `set` from each list, then use list comprehension on each one to only keep values not contained in the previously created set of the other.

In [246]:
def symmetric_difference(a, b):
  _a, _b = set(a), set(b)
  return [item for item in a if item not in _b] + [item for item in b if item not in _a]

In [247]:
symmetric_difference([1, 2, 3], [1, 2, 4]) # [3, 4]

[3, 4]

### tail

Returns all elements in a list except for the first one.

Return `lst[1:]` if the list's length is more than `1`, otherwise, return the whole list.

In [248]:
def tail(lst):
  return lst[1:] if len(lst) > 1 else lst

In [249]:
tail([1, 2, 3]) # [2,3]

[2, 3]

In [250]:
tail([1]) # [1]

[1]

### take

Returns a list with `n` elements removed from the beginning.

Use slice notation to create a slice of the list with `n` elements taken from the beginning.

In [251]:
def take(itr, n = 1):
  return itr[:n]

In [252]:
take([1, 2, 3], 5) # [1, 2, 3]

[1, 2, 3]

In [253]:
take([1, 2, 3], 0) # []

[]

### take_right

Returns a list with `n` elements removed from the end.

Use slice notation to create a slice of the list with `n` elements taken from the end.

In [254]:
def take_right(itr, n = 1):
  return itr[-n:]

In [255]:
take_right([1, 2, 3], 2) # [2, 3]

[2, 3]

In [256]:
take_right([1, 2, 3]) # [3]

[3]

### to_dictionary

Combines two lists into a dictionary, where the elements of the first one serve as the keys and the elements of the second one serve as the values.
The values of the first list need to be unique and hashable.

Use `zip()` in combination with a list comprehension to combine the values of the two lists, based on their positions.

In [257]:
def to_dictionary(keys, values):
  return {key:value for key, value in zip(keys, values)}

In [258]:
to_dictionary(['a', 'b'], [1, 2]) # { a: 1, b: 2 }

{'a': 1, 'b': 2}

### transpose

Returns the transpose of a two-dimensional list.

Use `*lst` to get the passed list as tuples.
Use `zip()` in combination with `list()` to create the transpose of the given two-dimensional list.

In [259]:
def transpose(lst):
  return list(zip(*lst))

In [260]:
transpose([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]) # [(1, 4, 7, 10), (2, 5, 8, 11), (3, 6, 9, 12)]

[(1, 4, 7, 10), (2, 5, 8, 11), (3, 6, 9, 12)]

### unfold

Builds a list, using an iterator function and an initial seed value.

The iterator function accepts one argument (`seed`) and must always return a list with two elements ([`value`, `nextSeed`]) or `False` to terminate.
Use a generator function, `fn_generator`, that uses a `while` loop to call the iterator function and `yield` the `value` until it returns `False`.
Use list comprehension to return the list that is produced by the generator, using the iterator function.

In [261]:
def unfold(fn, seed):
  def fn_generator(val):
    while True:
      val = fn(val[1])
      if val == False: break
      yield val[0]
  return [i for i in fn_generator([None, seed])]

In [262]:
f = lambda n: False if n > 50 else [-n, n + 10]
unfold(f, 10) # [-10, -20, -30, -40, -50]

[-10, -20, -30, -40, -50]

### union_by

Returns every element that exists in any of the two lists once, after applying the provided function to each element of both.

Create a `set` by applying `fn` to each element in `a`, then use list comprehension in combination with `fn` on `b` to only keep values not contained in the previously created set, `_a`.
Finally, create a `set` from the previous result and `a` and transform it into a `list`

In [263]:
def union_by(a, b, fn):
  _a = set(map(fn, a))
  return list(set(a + [item for item in b if fn(item) not in _a]))

In [264]:
from math import floor
union_by([2.1], [1.2, 2.3], floor) # [2.1, 1.2]

[1.2, 2.1]

### union

Returns every element that exists in any of the two lists once.

Create a `set` with all values of `a` and `b` and convert to a `list`.

In [265]:
def union(a, b):
  return list(set(a + b))

In [266]:
union([1, 2, 3], [4, 3, 2]) # [1,2,3,4]

[1, 2, 3, 4]

### unique_elements

Returns the unique elements in a given list.

Create a `set` from the list to discard duplicated values, then return a `list` from it.

In [267]:
def unique_elements(li):
  return list(set(li))

In [268]:
unique_elements([1, 2, 2, 3, 4, 3]) # [1, 2, 3, 4]

[1, 2, 3, 4]

### values_only

Returns a flat list of all the values in a flat dictionary.

Use `dict.values()` to return the values in the given dictionary.
Return a `list()` of the previous result.

In [269]:
def values_only(flat_dict):
  return list(flat_dict.values())

In [270]:
ages = {
  "Peter": 10,
  "Isabel": 11,
  "Anna": 9,
}
values_only(ages) # [10, 11, 9]

[10, 11, 9]

### when

Tests a value, `x`, against a `predicate` function, conditionally applying a function.

Check if the value of `predicate(x)` is `True` and if so return `when_true(x)`, otherwise return `x`.

In [271]:
def when(predicate, when_true):
  return lambda x: when_true(x) if predicate(x) else x

In [272]:
double_even_numbers = when(lambda x: x % 2 == 0, lambda x : x * 2)

In [273]:
double_even_numbers(2) # 4

4

In [274]:
double_even_numbers(1) # 1

1